@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,500;1,600&family=Lato:ital,wght@0,400;1,100;1,300&family=Montserrat:ital,wght@0,300;0,400;1,200;1,300&family=Roboto:ital,wght@0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&family=Ubuntu+Mono:ital,wght@1,400;1,700&family=Ubuntu:ital,wght@0,700;1,700&display=swap');
:root{
        --karla: 'Karla', sans-serif;
        --lato: 'Lato', sans-serif;
        --monster: 'Montserrat', sans-serif;
        --roboto: 'Roboto', sans-serif;
        --sanspro: 'Source Sans Pro', sans-serif;
        --ubuntu: 'Ubuntu', sans-serif;
        --mono: 'Ubuntu Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: var(--karlo);
}

html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.4;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/header-background.jpg);
    background-size: cover;
}

.navigation{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.navigation a{
    color: white;
    font-size: 1.2rem;
    margin-left: 18px;
    margin-right: 18px;
    letter-spacing: 1px;
    transition: all 0.5s linear;
}
.navigation i{
    color: white;
    margin-left: 20px;
}

.navigation a:focus, a:hover{
    color: rgb(206,67,24);
}


.banner{
    position: absolute;
    margin-top: 15%;
    width: 70%;
}
.banner h1{
    text-align: center;
    color: #fff;
    font-family: var(--ubuntu);
    font-size: 5rem;
    letter-spacing: 2px;
}

.banner{
    position: absolute;
    margin-top: 12%;
    width: 70%;
}
.banner h1{
    text-align: center;
    color: #fff;
    font-family: var(--ubuntu);
    font-size: 5rem;
    letter-spacing: 2px;
}
.banner p{
    color: #fff;
    opacity: 0.6;
    font-family: var(--mono);
    font-size: 1.3rem;
    width: 60%;
    margin-left: 20%;
    text-align: center;

    border-bottom: 1px solid rgb(137, 137, 137);
    padding-bottom: 0.5rem;
}
.banner p span{
    color:  rgb(206, 67, 24);
    opacity: 1;
}
.banner p a{
    color:  rgb(121, 100, 100);
    color: #fff;
    opacity: 0.6;
    font-family: var(--mono);
    font-size: 1.3rem;
    width: 60%;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgb(137, 137, 137);
    padding-bottom: rem;
}
.banner p span{
    color:  rgb(206, 67, 24);
    opacity: 1;
}
.banner p a{
    color:  rgb(150, 93, 76);
}

.banner p a:hover, a:focus{
    color: rgb(206, 67, 24) ;
    transition: 0.5s;
}

.social__media{
    color: #fff;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 420px;
}
.social__media i{
    margin-left: 5px;
    margin-right: 5px;
}

.banner h1:hover{
    color:rgb(206, 67, 24);
    transition: 1s;
}
.social__media i:hover{
    color: blue;
}

.s__media{
    position: absolute;
    margin-top:4%;
    margin-left: 33%;
    color:black;
    font-size: 1.3rem;
    border: 1px solid white;
    padding: 5px;
    border-radius: 100%;
    background-color: #fff;
}
